<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ne.mantenimiento">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mantenimiento">
        <activity
            android:name=".SalesEditDelete"
            android:exported="true" />
        <activity
            android:name=".SalesList"
            android:exported="true" />
        <activity
            android:name=".Sales"
            android:exported="true" />
        <activity
            android:name=".ProductsEditDelete"
            android:exported="true" />
        <activity
            android:name=".ProductsList"
            android:exported="true" />
        <activity
            android:name=".Products"
            android:exported="true" />
        <activity
            android:name=".CustomersEditDelete"
            android:exported="true" />
        <activity
            android:name=".CustomersList"
            android:exported="true" />
        <activity
            android:name=".Customers"
            android:exported="true" />
        <activity
            android:name=".CategoriasEditDelete"
            android:exported="true" />
        <activity
            android:name=".CategoriasList"
            android:exported="true" />
        <activity
            android:name=".Menu"
            android:exported="true" />
        <activity
            android:name=".Categorias"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>